:root {
	--no-rows: 1; /*reserved for future use*/
	
	--incline: 10;
	--incline-perc: calc(1vw * var(--incline));
	
	--box-width: 70;
	--box-width-perc: calc(1vw * var(--box-width) + (var(--incline-perc) / 2));

}

body {
	margin: 0;
}

.box {
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 100vh;
	
	width: var(--box-width-perc);
	height: 100vh;
	
	margin: 0;
	padding: 0;
}

#container {
	width: 100vw;
	height: 100vh;
}

#left {
	background-image: url("Images/rockmaraton.jpg");
	float: left;
	clip-path: polygon(0% 0%, calc(100% - var(--incline-perc)) 0%, 100% 100%, 0% 100%);
	z-index: 1;
}

#right {
	background-image: url("Images/rendezvenynaptar.jpg");
	float: right;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, var(--incline-perc) 100%);
	z-index: 2;
	
	top: 0;
	right: 0;
	position: absolute;
}

#divider {
	--width-init: calc(100vw / 25);
	--width: calc(var(--incline-perc) + var(--width-init));
	--left: calc(50vw - (var(--width) / 2));
	
	clip-path: polygon(0% 0%, calc(100% - var(--incline-perc)) 0%, 100% 100%, calc(0% + var(--incline-perc)) 100%);
	
	background-color: rgba(255, 51, 51, 0.5);
	top: 0;
	left: var(--left);
	
	width: var(--width);
	height: 100vh;
	position: absolute;
	
	z-index: 10;
}

#right:hover {
	animation: expand 0.5s linear forwards;
}

#left:hover ~ #right {
	animation: contract 0.5s linear forwards;
}

#right:hover ~ #divider {
	animation: divider-left 0.5s linear forwards;
}

#left:hover ~ #divider {
	animation: divider-right 0.5s linear forwards;
}

@keyframes left-left {
	0%   {
		width: var(--box-width-perc);
		clip-path: polygon(0% 0%, calc(var(--box-width-perc) - var(--incline-perc)) 0%, var(--box-width-perc) var(--box-width-perc), 0% var(--box-width-perc));
	}
	
	100% {
		width: calc(var(--box-width-perc) + 20vw);
		clip-path: polygon(0% 0%, calc(100% - var(--incline-perc)) 0%, 100% 100%, 0% 100%);
	}
}

@keyframes left-right {
	0%   {
		width: var(--box-width-perc);
		clip-path: polygon(0% 0%, var(--box-width-perc) 0%, var(--box-width-perc) var(--box-width-perc), var(--incline-perc) var(--box-width-perc));
	}
	
	100% {
		width: calc(var(--box-width-perc) - 20vw);
		clip-path: polygon(0% 0%, 100% 0%, var(--box-width-perc) var(--box-width-perc), var(--incline-perc) var(--box-width-perc));
	}
}
@keyframes left-divider {
	0% {
		left: calc(50vw - (var(--width) / 2))
	}
	
	100% {
		left: calc(50vw - (var(--width) / 2) + 20vw)
	}
}