:root {
	--no-rows: 1; /*reserved for future use*/
	
	--incline: 10;
	--incline-perc: calc(1vw * var(--incline));

	--box-width: 50;
	--box-width-max: 70;
	
	/*can't go over 100% on clip-path so we need to add incline*/
	--box-width-perc: calc(1vw * var(--box-width) + var(--incline-perc) / 2);
	--box-width-max-perc: calc(1vw * var(--box-width-max) + var(--incline-perc) / 2);

}

body {
	margin: 0;
}

.box {
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
	
	width: var(--box-width-perc);
	height: 100vh;
	
	margin: 0;
	padding: 0;
}

#container {
	width: 100vw;
	height: 100vh;
}

#left {
	background-image: url("Images/rockmaraton.jpg");
	clip-path: polygon(0 0, calc(100% - var(--incline-perc) * 2 - 14vw) 0, calc(100% - 14vw) 100%, 0 100%);
	float: left;
	z-index: 1;
	transition: 0.5s;
	position: relative;
}

#right {
	background-image: url("Images/rendezvenynaptar.jpg");
	float: right;
	clip-path: polygon(20% 0%, 100% 0%, 100% 100%, calc(var(--incline-perc) * 2 + 20%) 100%);
	z-index: 2;
	
	top: 0;
	right: 0;
	position: absolute;
	transition: 0.5s;
}

/*Final. Don't touch*/
#divider {
	--width-init: calc(4wv);
	--width: calc((var(--incline-perc) * 2) + var(--width-init));
	--left: calc(50vw - (var(--width) / 2));
	
	clip-path: polygon(0% 0%, calc(100% - var(--incline-perc) * 2) 0%, 100% 100%, calc(0% + var(--incline-perc) * 2) 100%);
	
	background-color: rgba(255, 51, 51, 1);
	top: 0;
	left: var(--left);
	
	width: var(--width);
	height: 100vh;
	position: absolute;
	
	z-index: 10;
	transition: 0.5s;
}

#right:hover {
	width: calc(var(--box-width-perc) + 20vw);
	clip-path: polygon(16% 0%, 100% 0%, 100% 100%, calc(var(--incline-perc) * 2 + 16%) 100%);
}

#left:hover {
	animation: left-hover 0.5s forwards;
	width: calc(var(--box-width-perc) + 20vw);
	clip-path: polygon(0 0, calc(100% - var(--incline-perc) * 2 - 14vw) 0, calc(100% - 14vw) 100%, 0 100%);
}

#left:not(:hover) {
	animation: left-not-hover 0.5s forwards;
}

#right:hover ~ #divider {
	left: calc(50vw - (var(--width) / 2) - 20vw);
}

#left:hover ~ #divider {
	left: calc(50vw - (var(--width) / 2) + 20vw);
}

@keyframes left-hover {
	0% {
		z-index: 3;
	}
	100% {
		z-index: 3;
	}
}

@keyframes left-not-hover {
	0% {
		z-index: 3;
	}
	99% {
		z-index: 3;
	}
	100% {
		z-index: 1;
	}
}
